/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-v15-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-v15-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



html {
  box-sizing: border-box;
  padding: 0;
  /* background-color: black;*/
  /*font-family: 'DM Sans', sans-serif;*/
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  /* background-color: rgb(3, 18, 29);*/
  line-height: 1.2;
  /*Значение 1.2 означает, что высота строки будет равна 1.2 умноженной на текущий размер шрифта. Это относительное значение.*/
  font-weight: normal;
  display: block;
  display: flex;
  flex-direction: column;
  max-width: 1256px;
  margin: auto;

}


#header_wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1256px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center;*/
  width: 100%;
  background-color: #1f2427;
  padding: 20px;

}


header h1 {
  display: block;
  font-size: 45px;
  color: rgb(202, 204, 235);
  justify-content: flex-start;
  gap: 10px;

}

.head_buttons {
  display: flex;
  min-height: 100%;
  justify-content: flex-end;
  align-items: center;

}

.head_buttons button {
  padding: 10px 20px;
  background-color: rgba(152, 153, 80, 0.836);

  border-bottom: #000;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  color: rgb(3, 6, 49);
  width: 150px;
}

.head_buttons button:hover {
  background-color: #ddd;
}

#main_page,
#play,
#settings {
  align-items: center;
  justify-content: center;

}

#main {

  /* margin-top: 119px;*/
  display: block;
  background-color: #454e53;

}

.middle_section {
  display: flex;
  /* align-items: center;*/
  flex-direction: column;
  height: 1280px;
  min-width: 100%;
  /* background-color: #010813be;*/
 padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  width: 100%;
  max-width: 800px;
  margin: 20px 0;

}

#enterTitle {
  background-color: #f8e8dc;
  width: 1216px;
  height: 50px;

}

.label_text {
  font-size: 25px;
  color: rgb(179, 181, 197);
}

.middle_section label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.middle_section input[type="text"],
.middle_section textarea {
 /* max-width: 1216px;*/
 /* padding: 10px;*/
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#textInput {
  display: block;
  background-color: #f8e8dc;
  max-width: 1216px;
   max-width: 99%;
  resize: none;
  height: 150px;

}

.wordInputsection {
  margin-top: 20px;

}

.wordInputsection h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.WordsList input[type="text"],
.WordsList textarea {
  margin-bottom: 10px;
  background-color: #f8e8dc;

}


.WordsList {
  display: flex;
  justify-content: space-around;

}


/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;


  background-color: rgba(152, 153, 80, 0.836);
  /*  float: left;*/
  text-align: center;

  transition: 0.3s;
  border-radius: 0;
  font-size: 20px;
  color: rgb(3, 6, 49);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close button {
  background-color: rgba(152, 153, 80, 0.836);
  margin: 5px;
  border: none;
  border-radius: 5px;

}

.close  {
  background-color: rgba(152, 153, 80, 0.836);
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}


.addBtn:hover {
  background-color: #ddd;
}

.sent_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.sent_buttons .addBtn {
  width: 48%;
}

#cancel_button,
#save_button {
  display: block;
  margin: 100px;
  background-color: rgba(152, 153, 80, 0.836);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;

}

#cancel_button:hover,
#save_button:hover {
  background-color: #ddd;
}

.word_div,
.example_div {
  background-color: #f8e8dc;
  width: 200px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.list_of_words {
  display: flex;

}








/* ///////    First_section styles ended //////////*/


/* ///////    Second_section styles start //////////*/




.latest_episodes {
  margin-bottom: 40px;
  width: 1300px;
  min-width: 90%;
  height: 99px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-left: 70px;

}

.episodes {
  max-width: 1300px;
  min-width: 90%;
  height: 545px;
  margin-left: 70px;
  margin-bottom: 60px;
  /*background-color: #a39393;*/

}

#latest_episodes_text {
  font-weight: 400;
  font-size: 64px;
  line-height: 124%;
  letter-spacing: 0.05em;
  color: #fff;
  margin-top: 15px;

}

.button {
  width: 178px;
  height: 51px;
  border-radius: 6px;
  background: #118da8;
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  /* Убираем подчеркивание ссылок */
  text-align: center;
  /* Выравнивание текста по центру */

}












.subscribe {
  display: block;
  display: flex;
  background-color: #000;
  border-radius: 32px;
  max-width: 1300px;
  min-width: 90%;
  height: 387px;
  margin-top: 200px;
  margin-left: 70px;
}

.subscribe_for_updates {

  font-weight: 400;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 60px;
  width: 431px;
  height: 159px;

}

.subscribe_form {
  display: block;
  width: 522px;
  height: 252px;
  margin-top: 60px;
  margin-left: 227px;
  color: #fff;
}



::placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
  text-indent: 19px;
  /* Отступ слева */
  padding-top: 26px;
}

#submit {
  border-radius: 6px;
  width: 87px;
  height: 48px;
  background: #118da8;
  font-weight: 700;
  font-size: 15px;
  line-height: 192%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

/* ///////    Third_section styles ended //////////*/


/* ///////    Forth_section styles start //////////*/
.forth_section {
  max-width: 1440px;
  min-width: 90%;
  height: 901px;
  /*  background-color: rgb(255, 238, 0);*/
  display: flex;
  flex-direction: column;
}

.parent_review_block {
  max-width: 1300px;
  min-width: 90%;
  height: 701px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Три столбца */
  grid-gap: 16px;
  /* Расстояние между блоками */
  margin-top: 100px;
  margin-left: 70px;
}

.review {
  background-color: #ccc;
  border-radius: 32px;
  width: 423px;
  height: 321px;
  background: #000;
  border-radius: 32px;

}

.parent_review_block .review:nth-last-of-type(-n+3) {
  /* Стили для трех последних div с классом .review в контейнере */
  height: 364px;
}




/* ///////    Forth_section styles ended //////////*/


/* ///////    Footer styles start //////////*/



@media only screen and (max-width: 768px) {

  .wrapper {
    max-width: 90%;
  }

  .header {
    height: auto;
  }

  .header_wrapper {
    display: block;
    height: auto;
  }

  .header_logo {
    display: flex;
    justify-content: center;
  }

  .header_logo_link {
    align-items: center;
  }

  .header_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .body {
    max-width: 90%;
  }

  .main {

    display: flex;
    display: block;

    justify-content: center;
    flex-direction: column;
  }

  .first_section {
    height: auto;
    max-width: 1440px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first_section_center {

    max-width: 1300px;
    height: auto;
    display: block;
    flex-direction: column;
    /* justify-content: center;*/
    align-items: center;

  }

  .first_image {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .first_content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

  }

  .second_section,
  .third_section {
    height: auto;
  }

  .latest_episodes,
  .jacob {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .episodes {
    display: block;
    display: flex;
    height: auto;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;

  }

  .episode_nummer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: fit-content;
  }

  .episode_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .episode3 {
    display: block;
    width: fit-content;
    height: auto;
  }

  .episode3 :only-child {
    display: block;
    width: fit-content;
    height: auto;
  }

  .should,
  .episode3_text {
    width: fit-content;
    height: auto;
  }

  .jacob_text {
    margin-bottom: 40px;
  }


  .subscribe {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
  }

  .subscribe>div {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

  }

  .forth_section {
    height: auto;
  }

  .parent_review_block {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* один столбец*/
    grid-gap: 16px;
    /* Расстояние между блоками */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

  }

  .review {
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    display: flex;
    width: auto;
    height: auto;
  }

  .footer_section {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer_section>div {
    margin-left: auto;
    margin-right: auto;
  }

  .column1 {
    height: 170px;

  }

  .column4 {
    margin-top: 20px;

  }
}