/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-v15-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-v15-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
  padding: 0;
  background-color: black;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  background-color: hsl(29, 95%, 48%);
  line-height: 1.2;
  font-weight: normal;
  display: block;
  display: flex;
  flex-direction: column;
  max-width: 1256px;
  margin: auto;
}


#header_wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1256px;
  flex-wrap: wrap;
  justify-content: space-between;

}

header h1 {
  display: block;
  font-size: 50px;
  color: rgb(3, 6, 49);
  justify-content: flex-start;

}

.head_buttons {
  display: flex;
  /* display: block;*/
  min-height: 100%;
  justify-content: flex-end;
  align-items: center;

}

#main_page,
#play,
#settings {
  align-items: center;
  justify-content: center;
}

.main {

  /* margin-top: 119px;*/
  display: block;

}

.middle_section {
  display: flex;
  /* align-items: center;*/
  flex-direction: column;
  height: 1280px;
  max-width: 1440px;
  min-width: 100%;
  background-color: #413d3d;

}

#textInput {
  display: block;
  background-color: chocolate;
  max-width: 1256px;
  height: fit-content;
  margin: 10px;
  max-width: 99%;
  resize: none;
  height: 500px;
}

.WordsList{
  display: flex;
  justify-content: space-around;

}


/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: chocolate;
  color: black ;
  /*  float: left;*/
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.sent_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
}

#cancel_button,
#enter_button {
  display: block;
  margin: 100px;
  background-color: chocolate;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;

}
#cancel_button:hover,
#enter_button:hover {
  background-color: #bbb;
}

.word_div, .example_div{
  background-color: bisque;
  width: 200px;
  margin: 5px;
}

.list_of_words{
  display: flex;

}








/* ///////    First_section styles ended //////////*/


/* ///////    Second_section styles start //////////*/




.latest_episodes {
  margin-bottom: 40px;
  width: 1300px;
  min-width: 90%;
  height: 99px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-left: 70px;

}

.episodes {
  max-width: 1300px;
  min-width: 90%;
  height: 545px;
  margin-left: 70px;
  margin-bottom: 60px;
  /*background-color: #a39393;*/

}

#latest_episodes_text {
  font-weight: 400;
  font-size: 64px;
  line-height: 124%;
  letter-spacing: 0.05em;
  color: #fff;
  margin-top: 15px;

}

.button {
  width: 178px;
  height: 51px;
  border-radius: 6px;
  background: #118da8;
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  /* Убираем подчеркивание ссылок */
  text-align: center;
  /* Выравнивание текста по центру */

}




/* ///////    Second_section styles ended //////////*/


/* ///////    Third_section styles start //////////*/








.subscribe {
  display: block;
  display: flex;
  background-color: #000;
  border-radius: 32px;
  max-width: 1300px;
  min-width: 90%;
  height: 387px;
  margin-top: 200px;
  margin-left: 70px;
}

.subscribe_for_updates {

  font-weight: 400;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 60px;
  width: 431px;
  height: 159px;

}

.subscribe_form {
  display: block;
  width: 522px;
  height: 252px;
  margin-top: 60px;
  margin-left: 227px;
  color: #fff;
}



::placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
  text-indent: 19px;
  /* Отступ слева */
  padding-top: 26px;
}

#submit {
  border-radius: 6px;
  width: 87px;
  height: 48px;
  background: #118da8;
  font-weight: 700;
  font-size: 15px;
  line-height: 192%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

/* ///////    Third_section styles ended //////////*/


/* ///////    Forth_section styles start //////////*/
.forth_section {
  max-width: 1440px;
  min-width: 90%;
  height: 901px;
  /*  background-color: rgb(255, 238, 0);*/
  display: flex;
  flex-direction: column;
}

.parent_review_block {
  max-width: 1300px;
  min-width: 90%;
  height: 701px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Три столбца */
  grid-gap: 16px;
  /* Расстояние между блоками */
  margin-top: 100px;
  margin-left: 70px;
}

.review {
  background-color: #ccc;
  border-radius: 32px;
  width: 423px;
  height: 321px;
  background: #000;
  border-radius: 32px;

}

.parent_review_block .review:nth-last-of-type(-n+3) {
  /* Стили для трех последних div с классом .review в контейнере */
  height: 364px;
}




.review div:first-of-type {
  margin-left: 50px;
  margin-top: 21px;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
}

.review div:nth-of-type(2) {
  /* Стили для второго div в контейнере */
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 50px;
  margin-top: 19px;
}

.parent_review_block .review:nth-of-type(5) div:nth-of-type(1) {
  font-size: 35px;
  line-height: 123%;

}

/* ///////    Forth_section styles ended //////////*/


/* ///////    Footer styles start //////////*/



@media only screen and (max-width: 768px) {

  .wrapper {
    max-width: 90%;
  }

  .header {
    height: auto;
  }

  .header_wrapper {
    display: block;
    height: auto;
  }

  .header_logo {
    display: flex;
    justify-content: center;
  }

  .header_logo_link {
    align-items: center;
  }

  .header_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .body {
    max-width: 90%;
  }

  .main {

    display: flex;
    display: block;

    justify-content: center;
    flex-direction: column;
  }

  .first_section {
    height: auto;
    max-width: 1440px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first_section_center {

    max-width: 1300px;
    height: auto;
    display: block;
    flex-direction: column;
    /* justify-content: center;*/
    align-items: center;

  }

  .first_image {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .first_content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

  }

  .second_section,
  .third_section {
    height: auto;
  }

  .latest_episodes,
  .jacob {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .episodes {
    display: block;
    display: flex;
    height: auto;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;

  }

  .episode_nummer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: fit-content;
  }

  .episode_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .episode3 {
    display: block;
    width: fit-content;
    height: auto;
  }

  .episode3 :only-child {
    display: block;
    width: fit-content;
    height: auto;
  }

  .should,
  .episode3_text {
    width: fit-content;
    height: auto;
  }

  .jacob_text {
    margin-bottom: 40px;
  }


  .subscribe {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
  }

  .subscribe>div {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

  }

  .forth_section {
    height: auto;
  }

  .parent_review_block {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* один столбец*/
    grid-gap: 16px;
    /* Расстояние между блоками */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

  }

  .review {
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    display: flex;
    width: auto;
    height: auto;
  }

  .footer_section {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer_section>div {
    margin-left: auto;
    margin-right: auto;
  }

  .column1 {
    height: 170px;

  }

  .column4 {
    margin-top: 20px;

  }
}